{% extends 'user_dashboard.html' %}

{% block title %}User - My Treks{% endblock %}

{% block heading %}TREKS{% endblock %}

{% block content %}
<table class="table ms-4 mt-4 table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Difficulty</th>
            <th>Duration</th>
            <th>Available Slots</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for trek in available_treks %}
        <tr>
            <td>{{ trek.name }}</td>
            <td>{{ trek.location }}</td>
            <td>{{ trek.difficulty.name }}</td>
            <td>{{ trek.duration }}</td>
            <td>{{ trek.available_slots }}</td>
            <td>
                <div class="d-flex justify-content-between"></div>
                    <button class="btn btn-primary"><a href="{{ url_for('admin.viewtrek', trek_id=trek.id) }}">Book</a></button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if not available_treks %}
<p>No treks available.</p>
{% endif %}
{% endblock %}