{% extends "admin_dashboard.html" %}

{% block title %}View Trek{% endblock %}

{% block heading %}TREK VIEW{% endblock %}

{% block content %}
<div class="d-flex justify-content-end">
    <a href="{{ request.referrer or url_for('admin.managetrek') }}" class="btn btn-secondary">Back</a>
</div>
<div class="row m-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h2>{{ trek.name }}</h2></div>
            <div class="card-body">
                <div class="row g-4">
                    <!-- Left Column: Image -->
                    <div class="col-md-6">
                        <img src="{{ trek.image or 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' }}"
                             class="img-fluid trek-photo" alt="Photo of {{ trek.name }}">
                    </div>

                    <!-- Right Column: Details -->
                    <div class="col-md-6">
                        <dl class="trek-details">
                            <div>
                                <dt>Location</dt>
                                <dd>{{ trek.location }}</dd>
                            </div>
                            <div>
                                <dt>Duration</dt>
                                <dd>{{ trek.duration }} days</dd>
                            </div>
                            <div>
                                <dt>Difficulty</dt>
                                <dd><span class="trek-badge diff-{{ trek.difficulty.name|lower }}">{{ trek.difficulty.name }}</span></dd>
                            </div>
                            <div>
                                <dt>Start date</dt>
                                <dd>{{ trek.start_date }}</dd>
                            </div>
                            <div>
                                <dt>End date</dt>
                                <dd>{{ trek.end_date }}</dd>
                            </div>
                            <div>
                                <dt>Status</dt>
                                <dd><span class="trek-badge trek-status">{{ trek.status.value }}</span></dd>
                            </div>
                            <div>
                                <dt>Available slots</dt>
                                <dd>{{ trek.available_slots }}</dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <div class="trek-desc">
                    <h3>Description</h3>
                    <p>{{ trek.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
